/*Global part*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #ffffff;
    background-color:hsl(283, 100%, 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}


/*Header part*/
/*Setting all element in header*/
header {
    width: 60vw;
    height: 60vh;
    margin-top: 5vh;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 0.2vw #FFF;
    background-color: #76048d;
}
/*Setting Web name and logo position*/
header h1 {
    font-size: 2.8em;
    font-family: 'Chilling Nightime', sans-serif;
    font-weight: bold;      
    color: red;     
    -webkit-text-stroke: black 0.01vw;                           
    width: 20vw;
    height: 20vh;
    margin: 5vh 0;
    border: solid 0.2vw #000;
    padding: 1vw;
    background-image: url("/picture/Lnwdoraemon.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
} 
/*Setting description part layout*/  
header h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline overline 0.2vw;
    color: #eeff00;
}
.header-description-points {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border: dashed 0.5vw #f0fc08;
    width: 30vw;
    height: 55vh;
}
/*Setting description style*/
.header-description-points li {
    margin: 2vh 0;
    font-size: 0.9rem;
    font-weight: bold;
}
/*Part color*/
header li.color {
    width: 10vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
}
/*Part font and text style*/
header p.font-example {
    font-family: 'Chilling Nightime', sans-serif;
    letter-spacing: 0.2rem;
}
header p.topic {
    font-weight: bold;
    text-decoration: underline;
}
header p.font-name {
    font-weight: bold;
}
/*Start the font style topic at the same vertical line*/
header pre {
    display: flex;
    align-items: flex-start;
}
    

/*Navigation part*/
/*Setting all element in navigation*/
nav {
    width: 60vw;
    height: 60vh;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 0.2vw #fff;
    margin: 5vh 0; /* Margin for top and bottom */
    background-color: #76048d;
}
/*Setting position between navigation-bar and nav-description*/
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*Setting navigation-bar position*/
nav ul.navigation-bar {
   display: flex;
   flex-direction: row;
   margin: 5vh 1.3vw 5vh 3vw;
}
/*Customized nav-bar button*/
nav button {
    background-color: #24221e;
    color: #fff;
    padding: 1vh 1vw;
    border: solid 0.1vw #fc0404;
    border-style: collapse;
    border-radius: 0.5vw;
    font-size: 1.2em; 
    font-family: 'e Elodea', sans-serif;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0.2vw 0.2vh  rgb(244, 8, 8);/**/
}
nav button:hover {
    background-color: #fff;
    color: #24221e;
    box-shadow: 0.2vw 0.2vh  rgb(244, 8, 8);
    transform: scale(1.2);
}
nav button:active {
    transform: scale(0.85);/*Simulate effect while click button*/
}
/*Setting nav-description layout*/
nav ul.navigation-description-points {
    display: flex;
    align-items: center;
    justify-items: center;
    list-style: none;
    border: dashed 0.5vw #f0fc08;
    width: 30vw;
    height: 55vh;
}
/*Setting description style*/
nav h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline overline 0.2vw;
    color: #eeff00;
}
nav ul.navigation-description-points li {
    margin: 2vh 0;
    font-size: 0.9rem;
    font-weight: bold;
}
/*Part color*/
nav li.color {
    width: 10vw;
    height: 10vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
/*Part font and text style*/
nav p.topic {
    font-weight: bold;
    text-decoration: underline;
}
nav p.font-name {
    font-weight: bold;
}
nav p.font-example {
    font-family: 'e Elodea', sans-serif;
    letter-spacing: 0.2rem;
}
/*Start the font style topic at the same vertical line*/
nav pre {
    display: flex;
    align-items: flex-start;
}


/*Main part*/
/*Setting all element in main part*/
main {
    width: 60vw;
    height: 60vh;
    background-color: #76048d;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 0.2vw #fff;
    margin: 5vh 0; /* Margin for top and bottom */
}
/*Setting manga pic layout*/
main img {
    width: 20vw;
    height: 40vh;
    margin: 2vh 0;
    border: solid 0.3vw #000;
}
/*Setting button*/
main button {
    background-color: #ff0000;
    color: #fff;
    padding: 1vh 1vw;
    border: ridge 0.1vw #000000;
    border-style: collapse;
    border-radius: 0.3vw;
    font-size: 1.2em;
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: all 0.5s ease;
    box-shadow: 0.3vw 0.3vh rgb(0, 0, 0);/**/
}
main button:hover {
    background-color: #000000;
    color: #ff0000;
    box-shadow: 0.3vw 0.3vh rgb(255, 255, 255);
    font-family: 'e Elodea', sans-serif;
    font-size: 1.5em;
}
main button:active {
    /*transform: scale(0.95);Simulate effect while click button*/
    margin-left: 0.3vw;
    box-shadow: none;
    font-family: 'e Elodea', sans-serif;
    font-size: 1.5em;
}
/*Setting description part layout*/  
main h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: underline overline 0.2vw;
    color: #eeff00;
}
.content-description-points {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    border: dashed 0.5vw #f0fc08;
    width: 30vw;
    height: 55vh;
}
/*Setting description style*/
.content-description-points li {
    margin: 2vh 0;
    font-size: 0.9rem;
    font-weight: bold;
}
/*Part color*/
main li.color {
    width: 10vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    color: white;
}
/*Part font and text style*/
main p.topic {
    font-weight: bold;
    text-decoration: underline;
}
main p.font-name {
    font-weight: bold;
}
main p.font-example {
    font-family: 'e Elodea', sans-serif;
    letter-spacing: 0.2rem;
}
/*Start the font style topic at the same vertical line*/
main pre {
    display: flex;
    align-items: flex-start;
}


/*Footer part*/
/*Setting all element in footer*/
footer {
    width: 60vw;
    height: 60vh;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 5vh 0; /* Margin for top and bottom */
    border-style: solid;
    border-color: #fff;
    border-width: 0.2vw;
    background-color: #76048d;
}
