/*Global part*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #24221e;
    background-color:hsl(283, 100%, 67%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*Header part*/
header {
    width: 60vw;
    height: 60vh;
    margin-top: 5vh;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: solid 0.2vw #FFF;
}
header h1 {
    font-size: 2.8em;
    font-family: 'Chilling Nightime', sans-serif;
    font-weight: bold;      
    color: white;     
    -webkit-text-stroke: black 0.01vw;                           
    width: 20vw;
    height: 20vh;
    margin: 5vh 0;
    border: solid 0.2vw #000;
    padding: 1vw;
    background-image: url("/picture/Lnwdoraemon.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}   
.header-description-points {
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    color: #24221e;
    border: dashed 0.5vw #f0fc08;
    width: 30vw;
    height: 55vh;
}
.header-description-points li {
    margin: 3vh 0;
    font-size: 1em;
    font-weight: bold;
}
header li.color {
    width: 10vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
}
header p.topic {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: underline;
}
header p.font-name {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
header li.font {
    display: block;
    float: left;
    font-family: 'Chilling Nightime', sans-serif;
}
    
/*Navigation part*/
nav {
    width: 60vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 0.2vw #fff;
    margin: 5vh 0; /* Margin for top and bottom */
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto 10vw;
}
nav ul.navigation-bar {
   display: flex;
   flex-direction: row;
}
nav button {
    background-color: #24221e;
    color: #fff;
    padding: 1vh 1vw;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0.3vw 0.3vh  rgb(97, 77, 77);
}


/*Main part*/
main {
    width: 60vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-color: #fff; 
    border-width: 0.2vw;
}

/*Footer part*/
footer {
    width: 60vw;
    height: 60vh;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 5vh 0; /* Margin for top and bottom */
    border-style: solid;
    border-color: #fff;
    border-width: 0.2vw;
}
